[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[packages]
transformers = ">=4.5.1"
sacrebleu = "==1.5.1"
sacremoses = "==0.0.47"
sacrerouge = "==0.2.3"
sentence-transformers = "*"
pot = "*"
google-api-python-client = "*"
nltk = "*"
perspective = "*"
click = "*"
pandas = "*"
pytreebank = "*"
chardet = "*"
wandb = "*"
evaluate = "*"
seaborn = "*"
openpyxl = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
